.add-competition-container {
  max-width: 900px;
  margin: 35px auto;
  /* padding: 30px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: rgb(255, 255, 255);
  font-family: 'Segoe UI', sans-serif;
  /* border: 0.1px solid #006e76; */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 15px; */
  padding: 10px 17px 0px 17px;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #433c50;
  font-size: 0.9rem;
}

input {
  padding: 6px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  font-weight: 500;
  padding: 9px;
  background-color: #006e76;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:disabled {
  background-color: #aaa;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}


/* ---- */

h1{
    background: #eae1ff !important;
    color: #433c50;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 500;
}

.button-submit{
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px 20px 10px;
}

.submit-btn{
  width: 16%;
}

select{
    padding: 6px;
    font-size: 0.9rem;
    color: #433c50;
    font-weight: 400;
}

/* Table */
thead tr th{
    background-color: #f6f7fb !important;
    color: #433c50;
    font-weight: 500;
    font-size: 0.9rem;
}

/* .hide-btn{
  font-weight: 500;
  padding: 9px;
  background-color: #006e76;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
} */

/* Loader start */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* Loader end */

td{
    background-color: #fff !important;
    color: #433c50;
    font-size: 0.9rem;
    /* font-weight: 500; */
}

.hide-btn{
    /* background-color: #8c57ff; */
    color: #8c57ff;
    border: 1px solid #8c57ff;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 400;
    background-color: transparent !important;
}

.events-btn-added{
    background-color: #8c57ff;
    color: #ffffff;
    border: 1px solid #8c57ff;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 400;
}