.currency-container{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.sub-div {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  padding: 9px 13px;
}

.update-row{
  /* display: flex; */
  /* gap: 10px; */
  align-items: center;
  flex-wrap: wrap;
}

.main{
    border: 1px solid rgb(227, 224, 224);
    border-radius: 5px;
    width: 95%;
    box-shadow: #000 0 2px 6px;
}

h3{
    font-size: 1.1rem;
    font-weight: 500;
    color: #433c50;
    padding: 12px;
    border-bottom: 1px solid rgb(227, 224, 224);
    /* text-align: center; */
    background: #eae1ff !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;
}


h4{
    font-size: 0.9rem;
    /* padding: 9px 13px; */
    text-align: center;
    color: #433c50;
    font-weight: 500;
}

.delete-currency{
    display: flex;
    justify-content: space-between;
}

.delete-currency button{
    background-color: transparent;
    border: none;
    color: #d31010;
    margin-bottom: 6px;
}

.btn{
   background-color: #8c57ff;
    color: #ffffff;
    border: 1px solid #8c57ff;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 0.9rem;
}

input{
    border-radius: 8px;
    border: 1px solid rgb(205, 203, 203);
    padding: 4px 7px;
    font-size: 0.9rem;
    font-weight: 400;
}

.fa{
    font-size: 1rem;
}

.add-currency-form{
    display: flex;
    gap: 1rem;
}

.updateCurrency{
    display: flex;
    gap: 1rem;
}

/* Loader start */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* Loader end */

.panel{
  background-color: #fff;
  padding-top: 0.5rem;
}