<div class="currency-container">
    <div class="main">
        <h3>Currency Master</h3>

        <section class="panel">
            <div class="sub-div">
                <h4 style="margin-right: 6rem;">Base Currency</h4>
                <input class="input" placeholder="Currency" style="width: 27rem;" (keypress)="allowOnlyAlphabets($event)" (paste)="onPaste($event)" [(ngModel)]="base.name" />
                <button class="btn" (click)="updateBaseCurrency(base._id)">UPDATE</button>
            </div>

            <div class="sub-div">
                <h4 style="margin-right: 6rem;">Base Currency</h4>
                <form [formGroup]="addCurrencyForm" (ngSubmit)="createCurrency()" class="add-currency-form">
                    <input class="input" (keypress)="allowOnlyAlphabets($event)" (paste)="onPaste($event)" placeholder="Currency" formControlName="name" style="width: 13rem;" />
                    <input class="input" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" placeholder="Value" formControlName="value" style="width: 13rem;" />
                    <button class="btn" type="submit" [disabled]="addCurrencyForm.invalid" >CREATE</button>
                </form>
            </div>
            <!-- <div class="sub-div" style="display: flex;align-items: flex-end;">
                @for (item of allCurrencies(); track $index) {
                    <div class="update-row">
                        <div class="delete-currency">
                            <h4>{{item.name}}</h4>
                            <button class="btn" style="padding: 2px 10px;" (click)="deleteCurrency(item._id)"><i class="fa fa-trash"></i></button>
                        </div>
                        <input class="input" placeholder="Currency" [value]="item.value" />
                    </div>
                }
                <button class="btn" >UPDATE</button>
            </div> -->

            <!-- Update Multiple Currencies -->
            <form [formGroup]="updateForm" (ngSubmit)="updateCurrencies()" class="sub-div">
                <div formArrayName="currencies" class="updateCurrency">
                    <div *ngFor="let currency of currenciesControls; let i=index" [formGroupName]="i" class="update-row">
            
                        <div class="delete-currency">
                            <h4>{{currency.value.name}}</h4>
                            <!-- <input class="input" placeholder="Name" formControlName="name" style="width: 10rem;" /> -->
                            <button class="btn" type="button" style="padding: 2px 10px;"
                                (click)="deleteCurrency(currency.value._id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
            
                        <input class="input" type="number" placeholder="Value" formControlName="value" (keypress)="allowDecimal02($event)" (paste)="onDecimalPaste($event)" style="width: 13rem;" />
                    </div>
                </div>
            
                <button class="btn" type="submit" [disabled]="updateForm.invalid">UPDATE</button>
            </form>
        </section>
    </div>
</div>
