<div class="setting-container">
  <!-- Sport Selector -->
  <div class="select-sport">
    <button class="top-btn" (click)="getCompetitionList('4')" [class.active]="selectedSport === '4'">
      Cricket Default Markets
    </button>
    <button class="top-btn" (click)="getCompetitionList('1')" [class.active]="selectedSport === '1'">
      Soccer Default Markets
    </button>
    <button class="top-btn" (click)="getCompetitionList('2')" [class.active]="selectedSport === '2'">
      Tennis Default Markets
    </button>
  </div>

  <div class="main">
    <div class="competition-container">
      <h3>Competition Settings</h3>

      <table class="table table-bordered competitionTable">
        <tbody>
          <ng-container *ngFor="let comp of allCompetitionList(); let i = index">
            <!-- Competition Row -->
            <tr>
              <td style="color: red;font-weight: 600;line-height: 2.1rem;padding-left: 15px;">{{i+1}}. {{ comp.competitionName | uppercase }}</td>
              <td >{{ comp.competitionId }}</td>

              <!-- Expand Events -->
              <td>
                <button class="btn allMatch" (click)="toggleCompetition(comp)">
                  All Matches
                  {{ expandedCompetition === comp.competitionId ? '➖' : '➕' }}
                </button>
              </td>

              <td>
                <select name="" id="" class="competition-grade-update" [(ngModel)]="comp.competitionGrade">
                  <option value="A">Grade A</option>
                  <option value="B">Grade B</option>
                  <option value="C">Grade C</option>
                </select>
                <button class="save-grade-btn" (click)="updateCompetiitonGrade(comp)"><i class="fa fa-save"></i></button>
              </td>

              <!-- Expand Default Markets -->
              <td>
                <button class="btn defaultSettings" (click)="toggleCompetitionDefault(comp)">
                  <i class="fa-solid fa-gear"></i>
                </button>
              </td>

              <td>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="comp.status"/>
                  <span class="slider"></span>
                </label>

                <span class="competition-boolean-span">Active</span>

                <label class="switch">
                  <input type="checkbox" [(ngModel)]="comp.volumeCheck"/>
                  <span class="slider"></span>
                </label>

                <span class="competition-boolean-span">Volume Check</span>

                <button class="save-Competition-btn"><i class="fa fa-save"></i></button>
              </td>

              <td>
                <button class="delete-competition-btn" (click)="deleteCompetiiton(comp)"><i class="fa fa-trash"></i></button>
              </td>
              
            

            </tr>

            <tr *ngIf="allCompetitionList().length === 0">
              <td colspan="7" class="text-center">No Data</td>
            </tr>

            <!-- Events of Competition -->
            <tr *ngIf="expandedCompetition === comp.competitionId">
              <td colspan="7" class="p-0">
                <table class="table mb-0 matchTable">
                  <tbody>
                    <ng-container *ngFor="let match of comp.events; let j = index">
                      <!-- Match Row -->
                      <tr>
                        <td>
                          {{ match.eventName }}
                        </td>
                        <td>
                          {{ match.eventId }}
                        </td>
                        <td>
                          <button class="btn btn-sm btn-outline-primary" (click)="toggleMatch(i, j)">
                            <!-- {{ expandedMatch?.compIndex === i && expandedMatch?.matchIndex === j ? '➖' : '➕' }} -->
                            <i class="fa-solid fa-gear"></i>
                          </button>
                        </td>
                        <td>
                          <select name="" id="" class="competition-grade-update" [(ngModel)]="match.eventGrade">
                            <option value="A">Grade A</option>
                            <option value="B">Grade B</option>
                            <option value="C">Grade C</option>
                          </select>
                          <button class="save-grade-btn" (click)="updateEventGrade(match)"><i class="fa fa-save"></i></button>
                        </td>
                        <td>
                          <label class="switch">
                            <input type="checkbox" [(ngModel)]="match.isAdded" />
                            <span class="slider"></span>
                          </label>
                          <span class="competition-boolean-span">Active</span>
                        
                          <button class="save-Competition-btn"><i class="fa fa-save"></i></button>
                        </td>

                        <td>
                          <button class="save-Competition-btn" (click)="removeEvent(match)" *ngIf="match.isAdded === true"><i class="fa fa-ban"></i> Remove</button>
                          <button class="save-Competition-btn" style="background-color: rgb(2, 50, 2);" *ngIf="match.isAdded === false" disabled><i class="fa fa-ban"></i> Removed</button>
                        </td>

                        <td>
                          <button class="delete-competition-btn" (click)="deleteEvent(match)"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>

                      <!-- Markets inside Match -->
                      <tr *ngIf="expandedMatch?.compIndex === i && expandedMatch?.matchIndex === j" class="matchDefaultRow">
                        <td colspan="7">
                          <!-- <ul class="list-group list-group-flush" style="">
                            <li *ngFor="let market of match.markets" class="list-group-market">
                              🏏 {{ market.marketName }}
                            </li>
                          </ul> -->
                          <table class="table mb-0 matchTable">
                            <tbody>
                              <ng-container *ngFor="let market of match.markets; let k = index">
                                <tr class="matchDefaultSetting">
                                  <td style="line-height: 2.2rem;">
                                    {{ market.marketName }}
                                  </td>
                                  <td>
                                    <label class="switch">
                                      <input type="checkbox" [(ngModel)]="market.status" />
                                      <span class="slider"></span>
                                    </label>
                                  </td>
                                  <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].preMinStake" placeholder="preMinStake"></td>
                                  <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].preMaxStake" placeholder="preMaxStake"></td>
                                  <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].preMaxPL" placeholder="preMaxPL"></td>
                                  <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].minStake" placeholder="minStake"></td>
                                  <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].maxStake" placeholder="maxStake"></td>
                                  <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].maxPL" placeholder="maxPL"></td>
                                  <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].delay" placeholder="delay"></td>
                                  <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].oddsLimit" placeholder="oddsLimit"></td>
                                  <td>
                                     <button class="save-btn" (click)="updateEventDefaultSetting(match.eventId,market)"><i class="fa fa-save"></i></button>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>

            <!-- Default Markets of Competition -->
            <tr *ngIf="expandedCompetitionDefault === comp.competitionId">
              <td colspan="7" class="p-0">
                <table class="table mb-0 matchTable">
                  <tbody>
                    <ng-container *ngFor="let market of comp.markets; let k = index">
                      <tr>
                        <td style="line-height: 2.2rem;">
                          {{ market.marketName }}
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" [(ngModel)]="market.status"/>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].preMinStake" placeholder="preMinStake"></td>
                        <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].preMaxStake" placeholder="preMaxStake"></td>
                        <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].preMaxPL" placeholder="preMaxPL"></td>
                        <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].minStake" placeholder="minStake"></td>
                        <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].maxStake" placeholder="maxStake"></td>
                        <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].maxPL" placeholder="maxPL"></td>
                        <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].delay" placeholder="delay"></td>
                        <td><input type="text" (keypress)="allowDecimal($event)" (paste)="onDecimalPaste($event)" [(ngModel)]="market.limit[0].oddsLimit" placeholder="oddsLimit"></td>
                        <td>
                            <button class="save-btn" (click)="updateCompetitiondefaultSetting(comp.competitionId,market)"><i class="fa fa-save"></i></button>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="loader-overlay" *ngIf="isloading">
  <div class="spinner"></div>
</div>