.main{
    /* background-color: rgb(206, 206, 206); */
    /* padding: 10px; */
    border-radius: 10px;
    /* box-shadow: #000 0 2px 6px; */
}


.top-btn{
    font-size: 0.9rem;
    /* border: none; */
    /* box-shadow: #000 0 2px 6px; */
    border-radius: 10px;
    padding: 7px 20px 7px 11px;
    font-weight: 500;
    color: #8c57ff;
    background-color: #fff;
    border: 0.5px solid #8c57ff;
}

.top-btn.active{
    background-color: #8c57ff;
    color: #fff;
    border: none;
}

.select-sport{
    border-radius: 10px;
    /* box-shadow: #000 0 2px 6px; */
    /* border-top-right-radius: 10px; */
    display: flex;
    gap: 0.5rem;
    /* padding: 1rem 0.7rem; */
    /* background-color: #fff; */
    /* border-bottom: 1px solid #e4e4e4; */
    margin-bottom: 1.5rem;
}

.grade-container{
  margin-bottom: 2rem;
  box-shadow: #000 0 2px 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.allMatch{
    font-size: 0.9rem;
    color: #8c57ff;
    border: 1px solid #8c57ff;
    border-radius: 10px;
    background-color: #efeaf8;
    font-weight: 400;
}

.allMatch:active{
    font-size: 0.9rem;
    color: #fefdff;
    border: 1px solid #8c57ff;
    border-radius: 10px;
    background-color: #9359ff;
    font-weight: 400;
}
.defaultSettings{
    background-color: green;
    color: #fff;
    padding: 2px 7px;
}

.competitionTable td{
    background-color: #fff;
    border: 1px solid #e4e4e4;
    font-size: 0.9rem;
    color: #433c50;
}
.competitionTable tr{
    /* background-color: rgb(220, 220, 220); */
    border: 1px solid black;
}

.matchTable td{
  background-color: #efeafa !important;
}
.matchDefaultRow td{
  background-color: #e4d8ff !important;
  padding: 0px;
}

h3{
    background: #eae1ff !important;
    color: #433c50;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 500;
}

/* Slider */
/* form check input */
.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff4c51;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
  box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, .16) inset;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-color: #4cac03;
    border-color: #56ca00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0ca105;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}


input {
    border: 2px solid #d0c7c7;
}
input {
    width: 7rem;
    height: 2.4rem;
    border-radius: 10px;
    padding: 2px 4px;
    text-align: center;
    color: #433c50;
}

.save-btn{
    background-color: green;
    color: white;
    border: 3px solid green;
    border-radius: 4px;
}

.save-grade-btn{
    background-color: rgb(0, 94, 128);
    color: white;
    border: 1px solid rgb(14, 46, 58);
    border-radius: 4px;
    margin-left: 5px;
}

.save-Competition-btn{
    background-color:  #56ca00;;
    color: white;
    border: 1px solid #4baa02;
    border-radius: 4px;
}

.delete-competition-btn{
    background-color: rgb(170, 28, 28);
    color: white;
    border: 1px solid rgb(213, 7, 7);
    border-radius: 4px;
}

.competition-grade-update{
    padding: 3px 4px;
    border-radius: 5px;
}

.competition-boolean-span{
    background-color: #d1fdfd;
    color: #fff;
    border-radius: 5px;
    padding: 2px 7px 6px 7px;
    margin: 8px;

    color: #007f80;
    border: 1px solid #007f80;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: 400;
}

.matchDefaultSetting td{
    padding: 0.5rem !important;
}

/* Loader start */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* Loader end */